body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(155, 212, 231);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 35px;
    padding: 50px;
    background-color: lightblue;
}

.input-container{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 17px;
}

input{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px;
    height: 20px;
}

input:focus{
    outline: none;
    border-color: red;
    box-shadow: 0 0 10px red;
}

button{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #B11226;
    width: 100%;
}

button:hover{
    background-color: white;
}

button:active{
    box-shadow: 0 1px #666;
    transform: translateY(3px);
}